body {
    background-color: #fff;
    font-family: Arial;
    margin-top: 50px;
    color: #000
}

#wrapper {
 width:700px;
 margin: 0 auto;
 overflow:hidden;
}

#main {
  font-size:80%;
  margin-left: 200px;
}


/*a:visited {color: #616536}
a:active {color: #1B1112}*/

b {color: #e3c361	;}

h1 {font-size:100%;
   color: #464b96	;}


h2 {
  color: #9baaf2;
    font-family: Arial;
    font-size: 140%;
    margin-top:-5px;
    margin-bottom:20px;
}

h2 proj {
  color: #6c91bf;
  font-size:140%
}


.image-holder {
    display:inline-block;
    position: relative;
    float:center;
    margin-bottom:20px
}
.image-holder:after {
    content:'';
    top: 0;
    left: 0;
    bottom:0;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: #464b96;
    opacity: 0.1;
}


#navbar {
    position: fixed; /* Set the navbar to fixed position */
    font-size:80%;
    float:left;
    margin-left: 10px;
}

hr {color:#10CC7D}
#navbar h1 { color: #e3c361;}

a { color:#e3c361}
