body {
    background-color: #94618E;
    font-family: Arial;
    color:#f4decb;
    margin-top: 50px
}

#wrapper {
 width:700px;
 margin: 0 auto;
 overflow:hidden;
}

#main {
  font-family: Arial;
  color:#f8eee7;
  font-size:80%;
  margin-left: 200px;
}


a {
    color: #f4decb;
}
/*a:visited {color: #616536}
a:active {color: #1B1112}*/

h1 {font-size:100%}


h2 {
  color: #FFA7F5;
    font-family: Arial;
    font-size: 150%;
    margin-top:0px;
  margin-bottom:20px;
}


.image-holder {
    display:inline-block;
    position: relative;
    float:center;
    margin-bottom:20px
}
.image-holder:after {
    content:'';
    top: 0;
    left: 0;
    bottom:0;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: #94618e;
    opacity: 0.7;
}


#navbar {
    position: fixed; /* Set the navbar to fixed position */
    font-size:80%;
    float:left;
    margin-left: 10px;
}


#navbar h1 { color: #CC86C4;}
